<h1>About The Owner</h1>
<h3> Hello, my name is Dagmawi Assefa.</h3>
<p>
    This is a website developed for people who love sneakers and want to review their shoe of choice.
     We also provide you with good shoes to purchase on a budget. As well as the most popular and 
     trending shoes. We hope that we can provide a better insight on your next sneakers. 
</p>
