

    
    <form action='/api/addShoes' method="POST" name="addShoes">
         <div class="input-field">
            <label>Shoe name:</label>
            <input type="text" name="name" placeholder="Air Jordan 1">
        </div>
        <div class="input-field">
            <label>Image Link:</label>
            <input type="text" name="image" placeholder='http://' >
        </div>
        <div class="input-field">
            <label>Price:</label>
            <input type="number" name="cost" placeholder="180.00" min="0.00" max="10000.00" step="10">
        </div>
        
        <button class='submitter' type='submit'>Submit</button>
    </form>

