
{{#each data}}
<div class="boxed">
    <img class="pictures" src={{this.image}}>
    <h4>{{this.name}}</h4>
    <h4> $ {{this.cost}}.00</h4>
        <p>{{this.reviews}}</p>
    
</div>

{{/each}}


